{
	"env": {
		"browser": true,
		"node": true
	},
	"parser": "babel-eslint",
	"plugins": ["prettier"],
	"rules": {
		"prettier/prettier": ["error"],
		"import/no-cycle": 0
	},
	"extends": [
		"airbnb-base",
		"plugin:react/recommended",
		"plugin:prettier/recommended"
	],
	"settings": {
		"import/resolver": "webpack"
	}
}
